@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);

.iconify {
  font-size: 24px;
  line-height: 1em;
}

.fa {
  text-align: center;
  vertical-align: middle;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 2px;
  border-style: solid;
  border-radius: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  flex: 1 1 200px;
}

.cards h2 {
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  margin: 0;
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.flex li {
  flex: 1 1 200px;
  margin: 10px;
}

.blue {
  color: rgb(0, 255, 255);
}

.darkblue {
  color: rgb(0, 115, 255);
}

.red {
  color:red;
}

body {
  background-color: black;
}

h1 {
  color: #a972cb;
}

{box-sizing: border-box;}

.open-button {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  width: 20rem;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  padding: 10px;
  background-color: black;
}

.form-container input {
  padding: 15px;
  margin: 5px 0 22px 10px;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .removeDeviceBtn {
  background-color: #FF9B07;
  font-size: 1rem;
  font-weight: bold;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.dropbtn {
  background-color: #36B83C;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content div:hover {
  background-color: #333;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
